
.btn{
    background-color: #36615d;
    border-radius: 50px;
    color: white;
}
.quotefrm{
    background: white;
}

html,
body {
    height: 100%;
}

.frm {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}